@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Utility to hide scrollbars while allowing smooth scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
